<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="https://img.freepik.com/free-vector/parking_24908-54068.jpg?semt=ais_hybrid" alt="Clinic Logo" width="30" height="30" class="rounded-circle d-inline-block align-text-top" >
  </a>
    <a class="navbar-brand" routerLink="home">ParkingSlot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="activeLink">Home</a>
        </li>

        
        <li class="nav-item" *ngIf="!authService.getLoginStatus()">
          <a class="nav-link text-light" routerLink="register" routerLinkActive="activeLink">Register</a>
        </li>
        

      
        <li class="nav-item" *ngIf="authService.getLoginStatus()">
          <a class="nav-link text-light" routerLink="dashboard" routerLinkActive="activeLink">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.getLoginStatus()">
          <a class="nav-link text-light" routerLink="booking-slot" routerLinkActive="activeLink">Book A Slot</a>
        </li>
        <li class="nav-item" *ngIf="authService.getLoginStatus()">
          <a class="nav-link text-light" routerLink="showbookings" routerLinkActive="activeLink">Show Bookings</a>
        </li>  
      </ul>
     
      
    </div>

    
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item" *ngIf="!authService.getLoginStatus()">
        <a class="nav-link" routerLink="login" routerLinkActive="activeLink">Login</a>
      </li>
      <li class="nav-item" *ngIf="authService.getLoginStatus()">
        <button class="nav-link btn btn-link" (click)="handleLogout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
