<div class="dashboard-container">
  <h1>Booking Statistics</h1>

  <div class="year">
    <label for="year">Select Year:</label>
    <select id="year" [(ngModel)]="selectedYear" (change)="onYearChange()">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>

  
  <div>
    <h3 class="text-center">Weekly statistics for {{selectedYear}}</h3>
    <canvas id="weeklyChart"></canvas>
  </div>


  <div>
    <h3 class="text-center">Monthly statistics for {{selectedYear}}</h3>
    <canvas id="monthlyChart"></canvas>
  </div>
</div>




<!-- <div>
  <app-montly></app-montly>
</div> -->