<div class="container mt-5">
    <h1>Welcome to Parking Slot Booking System</h1>
    <p class="lead">
      This system allows you to book parking slots, view your bookings, and manage your account.
    </p>
  
    
    <div *ngIf="authService.getLoginStatus(); else guestContent" class="loggedin">
      <h3>You're logged in!</h3>
      <p>Navigate to the dashboard to view your bookings or book a new parking slot.</p>
      <a routerLink="/dashboard" class="btn btn-secondary">Go to Dashboard</a>
    </div>
  
    <ng-template #guestContent>
      <h3>Not logged in yet?</h3>
      <p>Please <a routerLink="/register">register</a> or <a routerLink="/login">login</a> to use the system.</p>
    </ng-template>
  </div>
  